*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  width: 260px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70.5px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
  width: max-content;
}

.content__list-item {
  width: 398px;
}

.content__card-link:focus-visible {
  border: 1px solid #ffffff;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 200px;
  min-height: 101px;
  gap: 6px;
  margin: 2px 0 4px 2px;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  width: 200px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  width: 200px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  margin: 2px 3px 2px 0;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: inline-flex;
  align-items: flex-start;
  width: 711px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 212px;
  padding-right: 40px;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  width: 225px;
  background-color: inherit;
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  line-height: 21.6px;
  color: #ffffff;
  appearance: none;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

.button {
  cursor: pointer;
  background-color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-top: auto;
  border: 1px solid #ffffff;
}

.more-button {
  width: 399px;
  min-height: 34px;
}

button:focus {
  outline: none;
}

button:hover {
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

button:focus-visible {
  outline: 1px solid #ffffff;
}

.search-form__submit-button {
  width: 194px;
  min-height: 34px;
  line-height: 21.6px;
  margin-bottom: 4px;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
  width: 212px;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  margin-right: 5px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  display: block;
  margin: 1px;
}
